html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/*main*/
.main {
    background-color: white;
    padding: 0.5em;
    margin-top: -2em;
    border-radius: 0.4em;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
}


/*Header*/
.bg-header {
    background-image: url('../assets/img/bg-header-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18.75em;
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 1.5em 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1em;
}


.navbar-brand img {
    width: 2em;
}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0.563);
    padding: 1em;
    border-radius: 0.5em;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    padding: 0.3em;
    color: white;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.526);
    color: black;
    border-radius: 0.5em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
}

.btn-primary {
    color: white;
    background-color: #0F2620;
}

.btn-secondary {
    color: white;
    background-color: #7BA69A;
}

.btn-danger {
    color: white;
    background-color: #A6444C;
}

.btn-info {
    color: black;
    background-color: #e9c46a;
}

.btn-dark {
    color: white;
    background-color: #25302A;
}

/*card*/

.card {
    background-color: #A6444C;
    color: white;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
}

.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 500;
}

.card-body p {
    font-weight: 300;
}



/*Nosotros*/
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: #25302A;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

.nosotros-col-img {
    background-image: url('../assets/img/nosotros-min.png');
    height: 21.875em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    order: 2;
    border-radius: 0.5em;
}

.nosotros-col-text {
    order: 1;
}

.nosotros-body {
    padding: 1em;
    text-align: center;
    color: white;
}

.nosotros-body h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.nosotros-body p {
    font-weight: 200px;
}

/*footer*/
.bg-footer {
    background-color: #25302A;
    padding: 2em;
    color: white;
    text-align: center;
    margin-top: 4em;
}



/*RESPONSIVE*/

@media(min-width: 778px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-brand {
        flex-direction: row;
        margin-bottom: 0;
    }

    .tienda {
        display: flex;
        gap: 1.5em;
    }

    .nosotros-col-img {
        height: 31.25em;
    }

    .nosotros {
        flex-direction: row;
    }

    .nosotros-col-img {
        order: 1;
        flex: 1 1 0;
    }

    .nosotros-col-text {
        order: 2;
        flex: 1 1 0;
    }
}